:root {
  ---text-color1: #FFFFFF;
    ---text-color2: #373737;
  ---branding-color: #462CB2;
---secondary-color: #272044;
---background-color:#FFFFFF;
  --heading-font-family: 
'Poppins'; 
  font-size: 44px;
font-weight: 700;
line-height: 144px;
letter-spacing: 0em;
text-align: left; 
---extra-font-family:'Roboto', sans-serif;
}

h1, h2, h3{
   color:var(---text-color1)
  font-family: var(--heading-font-family);
  font-weight: bold;

}
footer{
    font-size: 16px;
}
